.card {
    border-radius: 20px !important;
    width: 15rem;
    box-shadow: 5px 5px 10px gray;
    padding: 5px;
    text-decoration: none !important;
    margin-top: 100px;
}
.card Img {
    height: 250px;
    object-fit: contain;
}
.card:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

