.destination {
    border: 1px solid gray;
    padding: 20px;
    margin-top: 50px;
    height: 450px;
    background-color: lightgray;
    border-radius: 10px;
}
.map {
    margin-top: 50px;
    width: 100%;
    height: 500px;
    border-radius: 10px;
}
.dist-place {
    border: 1px solid gray;
}
